# ansible.cfg - Configuración de Ansible

[defaults]
inventory = inventory/lab.yml
host_key_checking = False
deprecation_warnings = False
retries = 2
retry_files_enabled = False
callback_whitelist = profile_tasks, timer

# Timeout para conexiones SSH
timeout = 60

[inventory]
enable_plugins = yaml, ini, aws_ec2

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
